* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgb(134, 135, 139);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1215px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */

#check-menu {
  display: none;
}

.wrapper__label {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 23px 150px;
}

.header-inner__list {
  display: inline-block;
}

.header-inner__link {
  color: #fff;
  padding-left: 46px;
  transition: 0.3s all;
}

.header-inner__link:hover {
  color: rgba(255, 255, 255, 0.788);
}

/* Intro */

.intro {
  background: url(../img/state.jpg) center center/cover no-repeat;
}

.intro .container {
  background-color: #00000057;
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.intro-inner {
  max-width: 1215px;
  margin: 0 auto;
  padding: 180px 0px;
}

.intro-left__img {
  margin-bottom: 33px;
}

.intro-left__title {
  font-size: 36px;
  font-weight: normal;
  color: #fff;
}

.intro-left__text {
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  color: #fff;
  padding-bottom: 45px;
  font-family: "Raleway", sans-serif;
}

.intro-left__text::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin: 38px 0 30px;
}

.intro-left__btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px 32px;
  transition: 0.3s all;
  cursor: pointer;
}

.intro-left__btn:hover {
  background-color: rgba(255, 255, 255, 0.781);
  color: #000;
}

.intro-right {
  max-width: 370px;
  max-height: 367px;
  background-color: #fff;
  justify-self: end;
}

.intro-right__title {
  text-align: center;
  font-size: 20px;
  color: rgb(51, 51, 51);
  font-weight: 700;
  background-color: #f5f5f5;
  padding: 15px 0 15px;
}

.intro-right__title-span {
  color: #fe9850;
}

.intro-right__form-input {
  display: block;
  margin: 0 auto;
  width: 285px;
  height: 30px;
  padding: 11px 14px;
  margin-top: 36px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 1, 0.16);
  outline: none;
}

.intro-right__form-input::-webkit-input-placeholder {
  color: rgb(189, 189, 189);
}

.intro-right__btn {
  width: 370px;
  padding: 20px 0 20px;
  background-color: #ff9b51;
  border: 0;
  margin-top: 60px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  transition: 0.3s all;
}

.intro-right__btn:hover {
  background-color: #df823b;
}

/* Social */

.social {
  padding: 15px 0;
  border: 1px solid #d6d6d6;
  box-shadow: 2px 0px 6px;
}

.social-inner__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.social-icons {
  grid-column: 2/4;
  justify-self: end;
}

.social-madia {
  max-width: 370px;
}

.social-media__title {
  font-size: 20px;
  color: rgb(51, 51, 51);
  font-weight: 700;
}

.social-media__text {
  line-height: 20px;
}

.social-icon {
  padding-left: 50px;
}

.icon {
  color: #cccccc;
}

.icon:hover {
  color: #726d6d;
}

.social-icon:first-child {
  padding-left: 0;
}
/* Catalog */

.catalog {
  padding: 148px 0 115px;
}

.catalog_bg {
  background-color: #f5f5f5;
}

.container_img {
  position: relative;
}

.catalog__img {
  position: absolute;
  top: 10%;
  right: 0;
}

.catalog__inner {
  display: flex;
  justify-content: space-between;
  max-width: 690px;
}

.catalog__tab {
  background-color: #333333;
  border-bottom: 1px solid #fff;
  width: 112px;
  height: 112px;
  color: #fff;
  font-size: 15px;
  line-height: 105px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.catalog__tab_active {
  background-color: #ff8b38;
}

.catalog__content {
  padding-left: 100px;
  display: none;
}

.catalog__content_active {
  display: block;
}

.catalog__content_title {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding-top: 15px;
}

.catalog__content_text {
  min-height: 247px;
  line-height: 20px;
  margin: 0;
  padding: 50px 0;
}

.catalog__content_btn {
  display: block;
  background-color: #ff8b38;
  font-size: 15px;
  line-height: 44px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-align: center;
  width: 144px;
  height: 46px;
  border-radius: 4px;
  cursor: pointer;
}

.catalog__content_btn:hover {
  background-color: #cf6920;
}

/* list */

.list-inner {
  padding: 110px 0;
}

.list-inner__img {
  box-shadow: 0px 11px 25px;
  margin-top: 90px;
}

.list-right {
  justify-self: end;
  max-width: 410px;
}

.list-right__subtitle {
  font-size: 20px;
  line-height: 43px;
  color: rgb(33, 33, 33);
  font-weight: 700;
  padding-top: 50px;
}

h4.list-right__subtitle {
  padding-top: 0;
}

.list-right__text {
  padding-bottom: 48px;
}

.list-right__text_line::before {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background-color: #ff8b38;
  margin: 30px 0;
}

.list-right__icon {
  display: flex;
  align-items: center;
  padding-bottom: 42px;
}

.list-right__icon:last-child {
  padding-bottom: 0;
}

.cloud {
  padding-right: 20px;
}

/* Picture */

.picture {
  padding: 70px 0;
}

.picture-right {
  max-width: 473px;
}

.picture-inner__img {
  justify-self: end;
  box-shadow: 0px 11px 25px;
}

/* Awesome */

.awesome {
  padding: 110px 0;
}

.awesome-top {
  position: relative;
  text-align: center;
}

.awesome-subtitle {
  font-size: 36px;
  line-height: 43px;
  color: rgb(33, 33, 33);
  font-family: "Raleway";
}

.awesome-text::before {
  content: "";
  display: block;
  position: absolute;
  right: 47%;
  width: 70px;
  height: 1px;
  background-color: #ff8b38;
  margin: -34px 0;
}

.awesome-text {
  padding: 64px;
}

.awesome-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.awesome-card__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 110px;
}

.awesome-card {
  text-align: center;
}

.awesome-card__title {
  font-size: 20px;
  line-height: 24px;
  color: rgb(51, 51, 51);
  font-weight: 700;
  padding: 50px 0 20px;
}

/* Options */

.options {
  padding: 100px 0 90px;
}

.options-inner {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.card-top {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  transform: translateY(52px);
  transition: 0.4s all;
}

.card:hover .card-top {
  transform: translateY(0px);
}

.card-top_bg {
  background-color: #333333;
  text-align: center;
}

.card-top__subtitle {
  padding: 21px 0;
  border-bottom: 1px solid #fff;
}

.card-top__sign {
  display: inline-block;
  font-size: 35px;
  color: #fff;
  font-weight: 700;
  font-family: "Raleway", serif;
}

.card-top__price {
  display: inline-block;
  font-size: 150px;
  line-height: 100px;
  color: rgb(255, 255, 255);
  font-family: "Raleway", serif;
  font-weight: 700;
  padding: 30px 0 30px;
}

.card-top__text {
  font-style: italic;
  line-height: 24px;
  color: #999999;
  font-weight: bold;
  padding-bottom: 21px;
  border-bottom: 6px solid #ff8b38;
}

.card-middle {
  line-height: 24px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.card-middle_bg {
  background-color: #ff8b38;
  text-align: center;
  padding: 10px 0 12px;
}

.card-bottom_bg {
  background-color: #fff;
  color: rgb(134, 135, 139);
  text-align: center;
}

.card-bottom__list {
  border-bottom: 1px solid #f5f5f5;
  padding: 14px 10px;
}

/* Testimonials */

.testimonials {
  padding: 100px 0;
}
.testimonial {
  margin: 0 auto;
}

.testimonials-inner {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.testimonial__text_bg {
  position: relative;
  max-width: 270px;
  padding: 25px 13px;
  margin-bottom: 35px;
  background-color: #f5f5f5;
}

.testimonial__text_bg::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: -12px;
  left: 20px;
  transform: rotate(45deg);
  background-color: #f5f5f5;
}

.testimonial__text {
  font-style: italic;
}

.testimonial-customer {
  display: flex;
  align-items: center;
}

.testimonial-customer__avatar {
  max-width: 70px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.testimonial-customer__name {
  font-size: 20px;
  color: rgb(51, 51, 51);
  font-weight: 700;
}
.testimonial-customer__nik {
  padding-left: 15px;
}

/* Design */

.design {
  background: url(../img/state1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.design .container {
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.awesome-top_disign {
  padding: 80px 0 60px;
}

.awesome-subtitle_disign,
.awesome-text_disign {
  color: #fff;
}

.awesome-text_disign::before {
  background-color: #fff;
}

/* Footer */

.form {
  padding: 100px 0 80px;
}

.contacts-left__form-input {
  display: block;
  width: 527px;
  padding: 11px 13px;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid #cecece;
}

.contacts-right__form {
  justify-self: end;
}

.contacts-right__form-textarea {
  width: 527px;
  height: 177px;
  padding: 11px 13px;
  border: 0;
  border-bottom: 1px solid #cecece;
}

.contacts-left__form-input::-webkit-input-placeholder {
  font-size: 14px;
  color: rgb(189, 189, 189);
}

.contacts-right__form-textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: rgb(189, 189, 189);
}

.catalog__content_btn-footer {
  margin: 0 auto;
  font-weight: normal;
  margin-top: 45px;
  transition: 0.3s all;
}

.footer {
  background-color: #000;
  padding: 38px 15px;
  text-align: center;
}

.footer__icon-link {
  padding-right: 10px;
}

.icon-footer {
  color: #fff;
  transition: 0.5s all;
}

.icon-footer:hover {
  color: rgb(255, 155, 155);
  font-size: 35px;
}

.footer__icon-link:last-child {
  padding-right: 0px;
}

.footer__text {
  padding-top: 18px;
  font-size: 12px;
  color: rgb(255, 255, 255);
}
